/* font-family: 'Work Sans', sans-serif; */

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    
}


/* header section start */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 15px;
    
}

nav li  a {
    text-decoration: none;
    color: var(--dark-02, #424242);
}

/* header section end */

/* banner-section start */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
}



/* banner-section end */