/* font-family: 'Work Sans', sans-serif; */

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    /* font-size: 16px; */
}

.btn-primary {
    padding: 0.8rem 1.2rem;
    background: #FF900E;
    color: white;
    border-radius: 0.4rem;
    border: none;
    margin-bottom: 3rem;
}


/* header section start */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    font-size: 1.5rem;
}

nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 1rem;
    
}

nav li  a {
    text-decoration: none;
    color: var(--dark-02, #424242);
    font-weight: 500;
    font-size: 1rem;
}

/* header section end */

/* banner-section start */

.banner {
    margin: 4rem 0;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 3.4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
    font-size: 0.8rem;
    margin: 1rem 0;
}



.banner img {
    width: 100%;
}



/* banner-section end */

main {
    max-width: 1440px;
    margin: 4rem auto;
}

/* team feature start  */


.team-feature-container {
    display: flex;
    align-items: center;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-feature-description {
    padding: 70px 70px;
}

.team-title{
    color: var(--dark-03, #727272);
    font-size: 2.8rem;
}

.team-title .normal-text {
    font-weight: 700;
    color: black;
}

.team-title .feature-text {
    color: #FF900E;
}

.team-feature-description p {
    margin: 2rem 0;
    color: #727272
}

/* team feature end */

/* facts section start  */

.fact-container {
    margin-top: 2rem;
}

.fact-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
}

.fact-container p {
    color: #727272;
    font-size: 0.8rem;
    margin: 1rem 0;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    border: 1px solid #FF900E;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
}

.card h3 {
    margin: 0.8rem 0;
    font-size: 2.8rem;
    color: #424242;

}

.card p {
    color: #727272;
    font-size: 1.4rem;
    font-weight: 600;
}

/* facts section end  */







/* Media queries */

/* mobile devices */


@media screen and (max-width: 576px) {
    header {
        padding: 1.4rem;
    }
    nav,
    .team-feature-container,
    .card-container
     {
        flex-direction: column;
    }
    .team-image-container {
        grid-template-columns: 1fr;
    }
    .team-feature-description,
    .fact-container {
        padding: 50px 50px 0 50px;
    }
    .card-container {
        gap: 1rem;
    }

}

/* mobile devices */


/* medium device */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }
    nav,
    .team-feature-container {
        flex-direction: column;
    }

    .team-feature-description {
        padding: 30px 30px;
    }

    .fact-container {
        padding: 0 30px;
    }
}

/* medium device */